@use 'colors' as *;

window.Bar {
  min-width: 50px;
  background: var(--md-sys-color-background);
  color: var(--md-sys-color-on-surface);
  font-weight: bold;
  font-family: Roboto Mono, sans-serif;

  /* On hover, use a linear gradient with the battery level */
  // &:hover {
  //   background: linear-gradient(
  //     to top,
  //     green var(--battery-level, 0%),
  //     var(--md-sys-color-background) var(--battery-level, 0%)
  //   );
  // }

  .TimeLabel {
    font-size: 22px;
    color: var(--md-sys-color-on-surface);
  }

  .DateLabel {
    font-size: 22px;
    color: var(--md-sys-color-outline);
  }

  .WorkspaceLabel {
    font-size: 22px;
    color: var(--md-sys-color-on-primary-container);
  }

  .ClockBox {
    min-width: 42px;
    min-height: 84px;
    background: var(--md-sys-color-surface-container);
    border-radius: 8px;
    padding-top: 2px;
    margin-bottom: 4px;
    padding-bottom: 2px;
  }

  .WorkspaceBox {
    min-width: 42px;
    min-height: 42px;
    background: var(--md-sys-color-primary-container);
    border-radius: 8px;
    margin-top: 4px;
  }

  button {
    padding: 4px;
    margin: 2px;
    border-radius: 4px;
    transition: 200ms ease background;

    &:hover {
      background: var(--md-sys-color-surface-container-highest);
    }

    &:active {
      background: var(--md-sys-color-surface-container-high);
    }

    image {
      -gtk-icon-size: 16px;
    }
  }
}
