@use './style/colors' as *;
@use './style/time';
@use './style/tray';
@use './style/workspace';
@use './style/language';
@use './style/user';
@use './style/panel';
@use './style/battery';

window.Bar {
  min-width: 50px;
  background: var(--md-sys-color-background);
  color: var(--md-sys-color-on-surface);
  font-weight: bold;
  font-family: Roboto Mono, sans-serif;
}
