window.Bar {
  .TrayBox {
    min-width: 42px;
    min-height: 42px;
    background: var(--md-sys-color-surface-container);
    border-radius: 8px;
    margin-bottom: 4px;
    transition: all 300ms ease;

    &:hover {
      .TrayContent .TrayIcon {
        transform: rotate(180deg);
      }

      .TrayExpanded {
        opacity: 1;
        margin-bottom: 0;
      }
    }
  }

  .TrayContent {
    min-height: 42px;

    .TrayIcon {
      min-width: 34px;
      margin-left: 4px; // don't ask
      min-height: 34px;
      color: var(--md-sys-color-on-surface);
      transition: transform 200ms ease;
    }
  }

  .TrayExpanded {
    opacity: 0;
    margin-bottom: -200px;
    transition: all 300ms ease;

    .TrayIcon {
      min-width: 34px;
      min-height: 34px;
      background-color: var(--md-sys-color-surface-container);
      background: var(--md-sys-color-surface-container);
      color: var(--md-sys-color-surface-container);
      border-radius: 8px;
    }
  }
}
