window.Bar {
  .UserBox {
    min-width: 42px;
    min-height: 42px;
    background: var(--md-sys-color-primary-container);
    border-radius: 8px;
    margin-top: 4px;

    transition: background-color 300ms ease, border-radius 300ms ease;

    &:hover {
      background: var(--md-sys-color-inverse-primary);
      border-radius: 16px;
    }
  }

  .UserButton {
    padding: 0;
    margin: 0;
    min-width: 42px;
    min-height: 42px;
    background: none;
    border: none;
    box-shadow: none;
  }

  .UserLabel {
    font-size: 22px;
    color: var(--md-sys-color-on-primary-container);
  }
}
